@charset "UTF-8";
body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

/*Импорт стилей шапки* */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 9px;
  font-weight: 900;
  font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 768px) {
  .navbar__contact {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 25px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.head-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 52px;
}

.head__ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.head__title {
  padding-top: 90px;
}

.head__img-room {
  padding-top: 50px;
}

.head__second-title {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  font-family: 'Fira Sans', sans-serif;
  color: #333333;
}

.head__first-title {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  color: #333333;
}

.head__ad {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 40px;
  font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 1200px) {
  .head__img-room {
    width: 450px;
  }
}

@media (max-width: 992px) {
  .head-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.head2-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head2__second-title {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  color: #333333;
  margin-top: 24px;
}

.head2__first-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  color: #333333;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

.head2__info {
  padding-top: 84px;
}

.head2__img-wall {
  margin-right: -375px;
}
/*# sourceMappingURL=style.css.map */